{
  "branch": "dev",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/github",
      {
        "successComment": false
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/release-notes-generator"
  ]
}