version: 2.1
defaults: &defaults
  working_directory: ~/ci
  docker:
    - image: robcresswell/circleci-node-alpine
commands:
  install_deps:
    description: Install dependencies (from cache, if possible)
    steps:
      - checkout
      - restore_cache:
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - yarn-{{ checksum "yarn.lock" }}
            - yarn-
      - run: yarn --frozen-lockfile
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-{{ checksum "yarn.lock" }}
jobs:
  test:
    <<: *defaults
    steps:
      - install_deps
      - run: yarn build
      - run: ./node_modules/.bin/jest --runInBand --ci
      - store_test_results:
          path: reports
  release:
    <<: *defaults
    steps:
      - install_deps
      - run: yarn build
      - run: npx semantic-release
workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - release:
          requires:
            - test
